.header__lang-link {
  font-family: "Inter", "Arial", "Sans-serif";
  font-style: normal;
  padding-left: 18px;
  font-weight: 24px;
  line-height: 28px;
  text-decoration: unset;
  list-style: none;
  cursor: pointer;

  text-align: right;

  color: #fff;

  justify-self: end;
  transition: 250ms;
}

.header__lang-link:hover {
  opacity: 0.8;
}
