.place__url-heading {
    padding-bottom: 12px;
    margin: inherit;
    font-family: "Inter", "Arial", "Sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 0.75rem;

    letter-spacing: 0.2em;

    color: #aaa;
}