.footer__link {
    font-family: "Inter", "Arial", "Sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.125rem;
    text-decoration: none;
    align-self: baseline;

    color: #fff;
}

@media only screen and (max-width: 765px) {
    .footer__link {
        padding-bottom: 32px;
        font-family: "Inter", "Arial", "Sans-serif";
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-decoration: none;
        align-self: baseline;
    
        color: #fff;
    }
}

@media only screen and (max-width: 320px) {
    .footer__link {
        padding-bottom: 32px;
        font-family: "Inter", "Arial", "Sans-serif";
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-decoration: none;
        align-self: baseline;
    
        color: #fff;
    }
}