.place__paragraph {
  padding-bottom: 27px;
  align-self: start;
  margin: inherit;
  font-family: "Inter", "Arial", "Sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;

  color: #fff;
}

@media only screen and (max-width: 768px) {
  .place__paragraph {
    padding-bottom: 25px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 320px) {
  .place__paragraph {
    padding: 0px 16px 0px 16px;
  }
}
