.footer__copyright {
  margin: initial;
  font-family: "Inter", "Arial", "Sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  text-align: right;
  align-self: baseline;

  color: #fff;
}

@media only screen and (max-width: 700px) {
  .footer__copyright {
    font-size: 12px;
    line-height: 14px;
  }
}

@media only screen and (max-width: 550px) {
  .footer__copyright {
    font-size: 14px;
  }
}