.lead__image {
    padding-top: 64px;
    height: auto;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .lead__image {
        padding-top: 64px;
        min-width: auto;
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 320px) {
    .lead__image {
        padding-top: 40px;
        min-width: auto;
        width: 100%;
        height: auto;
    }
}