.intro__text {
  margin: inherit;
  font-family: "Inter", "Arial", "Sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 163%;

  color: #fff;

  padding-top: 40px;

  max-width: 690px;
  width: 80%;
}

@media only screen and (max-width: 768px) {
  .intro__text {
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .intro__text {
    width: 100%;
  }
}
