.cover__shadower {
  width: auto;
  height: auto;
  background-color: #2a2c2f;
  z-index: 1;
  opacity: 0.3;

  transition: 250ms;

  grid-column: 1;
  grid-row: 1;
}

.cover__overlay:hover .cover__shadower {
  opacity: 0.8;
}
