.cover__background {
    width: 100%;
    min-height: 740px;
    background: url(../../../images/cover-trains.jpg) no-repeat center / cover;
    text-decoration: none;
}

@media only screen and (max-width: 320px) {
    .cover__background {
        width: 100%;
        min-height: 200px;
        max-height: 200px;
        background: url(../../../images/cover-trains.jpg) no-repeat center / cover;
        text-decoration: none;
    }
}