.cover__title {
  margin: auto;
  max-width: 560px;
  font-family: "Inter", "Arial", "Sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  opacity: 1;
  z-index: 2;

  text-align: center;
  text-decoration: none;
  color: #fff;
}

@media only screen and (max-width: 720px) {
  .cover__title {
    padding: 0px 16px 0px 16px;
    font-size: 40px;
    line-height: 43px;
    max-width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
  }
}
