.cover__title {
    margin: inherit;
    max-width: 560px;
    font-family: "Inter", "Arial", "Sans-serif";
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.75rem;

    text-align: center;
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 320px) {
    .cover__title {
        padding: 0px 16px 0px 16px;
        margin: inherit;
        max-width: 560px;
        font-family: "Inter", "Arial", "Sans-serif";
        font-style: normal;
        font-weight: 900;
        font-size: 2rem;
        line-height: 2.188rem;
    
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
}