.footer {
  padding: 92px 48px 24px 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 92px 24px 24px 24px;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 320px) {
  .footer {
    padding: 64px 16px 24px 16px;
    flex-direction: column;
  }
}
