.footer {
    padding: 92px 30px 24px 48px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, auto) 1fr auto;
    gap: 18px;
    
}


@media only screen and (max-width: 768px) {
    .footer {
        padding: 92px 6px 24px 24px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(5, auto) 1fr auto;
        gap: 18px;
        
    }
}